.mainContainer{
    display: flex;
    height: calc(100vh - 86px);
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
}
.registerFormContainer{
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 700px;
}
.signUpText{
    font-size: 30px;
}
.header{
    margin-bottom: 10px;
}
.rowFields{
    display: flex;
    gap: 10px;
    width: 100%;
}
.left, .right{

    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}
.agreementArea{
    text-align: justify;
}
.container{
    margin-top: 20px;
}
.alreadyHaveAccount{
    margin-top: 5px;
}
.termsAndConditions{
    color: blue;
    cursor: pointer;
}
