.mainContainer{
    display: flex;
    height: calc(100vh - 86px);
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
}
.mainContainer::before{
    content: "";
    background-image: url('../../assets/newslogos/back2.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; /* Adjust the opacity here */
    z-index: -1; /* Sends the pseudo-element behind child content */
}
.registerFormContainer{
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 700px;
    background-color: #f7f4f3;
}
.signUpText{
    font-size: 30px;
}
.header{
    margin-bottom: 10px;
}
.rowFields{
    display: flex;
    gap: 10px;
    width: 100%;
}
.left, .right{

    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}
.agreementArea{
    text-align: justify;
}
.container{
    margin-top: 20px;
}
.alreadyHaveAccount{
    margin-top: 5px;
}
.termsAndConditions{
    color: blue;
    cursor: pointer;
}
