.bottomBar{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #102030;
    padding: 5px;
    position: fixed;
    bottom: 0;
    height: 26px !important;
    align-items: center;
}
.bottomText{
    font-size: 10px;
    background-color: #102030;
    color: #F7F4F3;
}